@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Poppins", sans-serif;
    color-scheme: dark;
}

/* Add the custom animation for fadeIn */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  html{
    scroll-behavior: smooth;
  }
  
}

/* Tailwind custom animation class */
@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 1s ease-out;
  }
}
